#container{
    width: 620px;
    height: 620px;
    border: 1px solid black;
    position: relative;
    background-image: url(images/bg0.jpg);
}
#buttons{
    margin: 20px 0 0 20px;}

img{
    position: absolute;
    bottom: 0px;
    right: 0px;
}