
#buttons{
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    width: 500px;
    height: 250px;

    margin-left: 34%;
    margin-top: 20%;
    }

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#knop_1{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    margin-right: 52%;
}

#knop_2{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

#knop_1:hover{
    background-color: #008CBA;
    color: white;
}

#knop_2:hover{
    background-color: #008CBA;
    color: white;
}

#imgs{
    margin-left: 45%;
    margin-top: 14%;
}
